html {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;

    @include media-tablet {
        font-size: 6px;
    }
}

body {
    background-color: $color-body;
    display: flex;
    justify-content: center;
    align-items: center;
}
