html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;

    @include media-tablet {
        font-size: 9px;
    }

    @include mobile-big-width {
        font-size: 6px;
    }
}

body {
    background-color: $color-body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div:first-of-type {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    @include heading-1($color: $color-dark, $style: italic);
    padding: 1rem 0rem;
}

.basic-text {
    @include basic-text($color: $color-dark);
}

.text-register {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 4%;
}

/* стилизация глобального контейнера страницы */

.main-box {
    display: flex;
    flex-direction: column;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    background-color: $color-light;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    border: solid 2rem $color-background;
    flex-basis: 80%;
}

.main-title {
    align-items: center;
    font-size: 3rem;
    text-align: center;
    margin-left: 1rem;
}
