html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;

    @include media-tablet {
        font-size: 6px;
    }
}

body {
    background-color: $color-body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    @include heading-1($color: #218888, $style: italic);
}

.basic-text {
    @include basic-text($color: #650e70, $style: normal);
}

.text-register {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 4%;
}

.link_to_pages {
    color: $color-primary-light;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
