.title_checklist {
    @include heading-2($color: $color-dark);
    padding: 1rem 0;
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

.title_categories {
    @include heading-2($color: $color-dark, $size: 2.1rem);
    padding: 1rem 0;
}

.reverse_button {
    @include button-basic($color-bg: $color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse_link {
    @include button-basic($color-bg: $color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_for_selected_category {
    display: flex;
    flex-basis: 100%;
}

.nav_categories {
    display: flex;
    gap: 4rem;
}

.categories_basic {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories_block {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
}

.products_container {
    width: 22.5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;

    &:hover {
        background-color: yellow;
    }
}

.img_cards_view {
    display: block;
    width: 120px;
    height: 180px;
}
