/* стили для блока DISCOUNTS */

.main-box {
    display: flex;
    flex-direction: column;
}

.main-wrap {
    display: flex;
    width: 100%;
    background-color: $color-background;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main-wrap h1 {
    align-items: center;
    font-size: 3rem;
}
