/* стили для блока DISCOUNTS */
.discounts_container {
    height: 47vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
}

.discounts_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.discounts_text {
    @include basic-text($color: $color-additional, $size: 1.9rem);

    @include media-narrowing(740px) {
        font-size: 1.5rem;
    }

    @include media-tablet {
        font-size: 1.1rem;
    }
}
