/* стили для блока MAIN */

.main-box {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    background-color: $color-light;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    border: solid 2rem $color-background;
}

.main-title {
    align-items: center;
    font-size: 3rem;
}
