.modal_container {
    display: flex;
    gap: 2rem;
    flex-basis: 80%;

    @include mobile-small-width {
        flex-direction: column;
    }
}

.info_modal_container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.modal_title {
    @include heading-2($color: $color-primary);
    padding: 1rem 0;
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

.modal_text {
    @include basic-text($color: $color-primary, $size: 3.4rem);
    padding: 1rem 0;
    cursor: pointer;

    &:hover {
        color: $color-primary;
    }
}

.modal_image {
    display: block;
    width: 60%;
    object-fit: contain;
    border-radius: 1rem;

    @include media-tablet {
        width: 45%;
    }
}

.button_add_basket {
    @include button-basic($color-bg: $color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 1.3rem;

    @include media-tablet {
        font-size: 9px;
    }

    @include mobile-big-width {
        font-size: 7px;
    }
}
