.registration_container {
    background-color: $color-light;
    flex-basis: 50%;
    margin: 15rem;
    border-radius: 3rem;
    box-shadow: 10px 10px 25px -4px rgba(0, 0, 0, 0.58);
}

.registration {
    display: flex;
    flex-direction: column;
    padding: 4rem 10rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logo_registration {
    background-image: url('img/apoint.png');
    display: block;
    width: 11.4rem;
    height: 3.4rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.registration__error {
    font: {
        family: 'Quicksand', sans-serif;
        size: 1.2rem;
        style: normal;
        weight: 400;
    }

    line-height: 105%;
    color: $color-error;
}

.label_basic {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.input_basic {
    @include input;

    &:focus {
        background-color: #ff900893;
        color: $color-primary;
        border-color: $color-primary;
        outline: 0;
    }

    &:invalid {
        border: 2px solid $color-error;
        color: $color-dark;
        background-color: $color-invalid-body;
    }

    &:valid {
        border: 2px solid $color-valid;
        color: $color-primary;
        background-color: $color-valid-body;
    }
}

.svg_user {
    background-image: url('img/icons/user.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.svg_users {
    background-image: url('img/icons/users.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.svg_email {
    background-image: url('img/icons/mail.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.svg_password {
    background-image: url('img/icons/lock.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.svg_calendar {
    background-image: url('img/icons/calendar.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.svg_map_pin {
    background-image: url('img/icons/map-pin.svg');
    display: block;
    width: 2rem;
    height: 2rem;
}

.address_block {
    border: $color-border 2px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.5rem;
}

.address_span {
    font: {
        family: 'Quicksand', sans-serif;
        size: 1rem;
        style: normal;
        weight: 600;
    }

    line-height: 105%;
    color: $color-primary;
}

.checkbox_span {
    @include input-text($size: 1.5rem);
}

.select_block {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.select_basic {
    width: 10.5rem;
    height: 3rem;
    @include input-text($size: 1.5rem);
    border: $color-border 2px solid;
    border-radius: 0.6rem;
    cursor: pointer;
    &:focus {
        border-color: $color-primary;
        outline: 0;
    }

    option {
        @include input-text($size: 1.5rem);
        background-color: hsla(33, 100%, 52%, 0.576);
        color: $color-primary;
    }
}

.address_title {
    font: {
        family: 'Quicksand', sans-serif;
        size: 2rem;
        style: normal;
        weight: 500;
    }

    line-height: 105%;
    color: $color-primary;
    text-align: center;
    border-bottom: 1px solid $color-dark;
    width: 20rem;
    display: none;
}

.button_registration {
    font-family: 'Open Sans', sans-serif;
    width: 26rem;
    font-weight: 500;
    display: block;
    height: 5.7rem;
    background-color: $color-primary;
    color: $color-link;
    font-size: 1.9rem;
    border-radius: 1rem;
    border: solid 2px $color-link;
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
        background-color: $color-additional;
        color: $color-light;
    }

    &:disabled {
        background-color: darkgrey;
        cursor: not-allowed;
    }
}

.shipping_address {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.5rem;
}

.billing_address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.5rem;
}

.link_to_loginPages {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: $color-link;
    font-size: 1.9rem;
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
        background-color: $color-additional;
        color: $color-light;
    }
}
