@mixin heading-1($color: $color-text, $style: normal) {
    font: {
        family: 'Open Sans', sans-serif;
        size: 1.5rem;
        style: $style;
        weight: 500;
    }

    line-height: 105%;
    color: $color;
}

@mixin heading-2($color: $color-text, $size: 3.6rem, $style: normal) {
    font: {
        family: 'Open Sans', sans-serif;
        size: $size;
        style: $style;
        weight: 500;
    }

    line-height: 105%;
    color: $color;
}

@mixin basic-text($color: $color-text, $size: 3.4rem) {
    font: {
        family: 'Quicksand', sans-serif;
        size: $size;
        style: normal;
        weight: 600;
    }

    line-height: 105%;
    color: $color;
}

@mixin input-placeholder($color: $color-border, $style: normal) {
    font: {
        family: 'Quicksand', sans-serif;
        size: 1.2rem;
        style: $style;
        weight: 400;
    }

    line-height: 105%;
    color: $color;
    padding: 0.2rem;
}

@mixin input-text($color: $color-link, $size: 1.5rem) {
    font: {
        family: 'Quicksand', sans-serif;
        size: $size;
        style: normal;
        weight: 600;
    }

    line-height: 105%;
    color: $color;
}

@mixin button-text($color: $color-primary, $style: normal) {
    font: {
        family: 'Quicksand', sans-serif;
        size: 1.8em;
        style: $style;
        weight: 800;
    }

    line-height: 105%;
    color: $color;
}

@mixin input() {
    width: 21.4rem;
    height: 3.3rem;
    border: $color-border 1px solid;
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.75);
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    @include input-text;
    &::placeholder {
        @include input-placeholder($style: italic);
    }
}

@mixin button-basic($color-bg: $color-light) {
    display: block;
    width: 12rem;
    height: 4.4rem;
    background-color: $color-bg;
    border-radius: 1rem;
    border: solid 2px $color-border;
    text-align: center;
    @include button-text;
    cursor: pointer;

    &:hover {
        background-color: $color-additional;
        color: $color-light;
    }

    &.active {
        background-color: $color-primary;
        color: $color-additional;
    }
}
