$color-light: #f5f5f5;
$color-black: #000000;
$color-primary: #ff5a00;

$color-additional: #650e70;

$color-primary-light: #ff8e08;

$color-text: #f5f5f5;
$color-dark: #303030;
$color-border: #757575;
$color-link: #422779;
$color-hovered: #ff5a00;

$color-body: #ff8e08;
$color-error: #e9a4a2;
$color-invalid-body: #ede5e5;
$color-valid: #0ff12e45;
$color-valid-body: #ffe9084f;

$color-overlay: rgba(80, 80, 80, 0.4);
$color-shadow: rgba(0, 0, 0, 0.58);

