$color-light: #f5f5f5;
$color-primary: #ff5a00;
// $color-additional: #422779;
$color-additional: #650e70;

$color-primary-light: #ff8e08;

$color-text: #f5f5f5;
$color-dark: #303030;
$color-border: #3a4e58;
$color-link: #422779;
$color-hovered: #ff5a00;

$color-body: #ff8e08;
$color-error: #ff1008;
$color-valid: #0ff12e;

$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1360px;
$desktop-small-width: 1024px;
$tablet-width: 668px;
$mobile-big-width: 518px;
$mobile-small-width: 380px;
